<div class="container123">
  <h1 style="color:white" class="text-center">Cocktails</h1>
  <div class="container">
    <div class="cards">
      <% @cocktails.each do |thing| %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2> <%= link_to "#{thing.name}", thing %></h2>
          <%  thing.doses.each do |des|%>
          <p><%= des.description %></p>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <%= link_to 'New Drink', new_cocktail_path, class: 'btn btn-secondary btn-lg'%>
  </div>
