<div class="container1234">
  <h1>Adding Doses</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "add a quantity", class: "btn btn-primary" %>
  <% end %>
</div>
